@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-3xl: 1920px;
}

input,
select {
  @apply focus:outline-none w-full;
}

option {
  @apply text-black;
  @apply dark:text-white;
}

.input-base {
  @apply p-2 rounded-sm border bg-gray-200 border-gray-400 focus:border-orange-500  transition;
  @apply dark:border-zinc-600 dark:focus:border-purple-400 dark:bg-zinc-800 dark:placeholder-gray-500 dark:text-white;
}

.button-base {
  @apply bg-orange-500 hover:bg-orange-600 text-white py-3 rounded-md cursor-pointer;
  @apply dark:bg-purple-600 dark:hover:bg-purple-700;
}

.progess-base {
  @apply [&::-webkit-progress-bar]:bg-gray-400 dark:[&::-webkit-progress-bar]:bg-gray-300 [&::-webkit-progress-value]:bg-green-500;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
